@media screen and (max-width: 768px){
    :root{
        --media__fs-title: 2rem;
        --index: calc(1vh + 1vh)
    }
    header{
        background-position: center;
    }
    .menu{
        
        .menu__logo{
            padding-left: 10px;
            padding-right: 10px;
            width: 150px;
            font-size: var(--media__fs-title);
        }
        .menu__item{
            display: none;
        }
    }
    .regist{
        width: 200px;
        justify-content: space-between;
    }
    .zagolovok{
        width: 280px;
        &__block1{
            width: 280px;
            text-align: center;
            font-weight: bold;
        }
        &__block2{
            padding-top: 30px;
            font-size: 150px;
            width: 280px;
            height: 250px;
            text-align: center;
        }
        &__block3{
            padding: 10px;
            font-weight: bold;
            width: 300px;
            font-size: 18px;
            color: #fff;
            border-radius: 10px;
            backdrop-filter: blur(10px);
        }
    }
    .info{
        height: 700px;
        background-position: bottom right;
        background-size: 270px 270px;
        .info__container{
            margin-top: 5%;
            margin-left: 3%;
        }
        .info__title{
            font-size: var(--media__fs-title);
            text-align: center;
        }
        .info__text{
            
            margin: 20px auto 20px auto;
            width: 330px;
        }
        .info__button{
            margin-left: 40px;
        }
        .info__img{
            display: none;
        }
    }
    .coffe{
        margin-top: 30px;
        height: 2000px;
        .coffe__title{
            font-size: var(--media__fs-title);
            margin: 0 auto;
            width: auto;
        }
        .coffe__text{
            margin: 20px auto;
        }
        .coffe__grid{
            width: 280px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(1,4fr);
            gap: 50px;
        }
        .coffe__img2{
            width: 250px;
        }
    }
    // advantages
    .advantages{
        height: 1700px;
        width: auto;
        .advantages__title{
            font-size: var(--media__fs-title);
            margin-top: 30px;
        }
        .advantages__text{
            margin: 10px auto;
            width: 300px;
        }
        .advantages__flex{
            width: 280px;
            display: block;
            margin: 0 auto;
        }
        .advantages__card{
            margin-bottom: 20px;
        }
        .advantages__button{
            margin-left: 35%;
        }
    }
    // info2
    .info2{
        width: auto;
        .info2__container{
            width: auto;
            margin: 0 auto;
        }
        .info2__title{
            margin-top: 40px;
            text-align: center;
            font-size: var(--media__fs-title);
            font-weight: bold;
            width: auto;
        }
        .info2__text{
            font-size: 20px;
            margin: 30px auto;
            padding: 10px;
            width: 300px;
            backdrop-filter: blur(10px);
            border-radius: 10px;
        }
        .info2__button{
            margin-top: 10%;
            margin-left: 35%;
        }
        .info2__img-rectangl{
            display: none;
        }
        .info2__img{
            display: none;
        }
    }
    // feedback
    .feedback{
        width: auto;
        .feedback__rectangl1{display: none;}
        .feedback__rectangl2{display: none;}
        .feedback__card{
            width: auto;
        }
        .feedback__icon{
            height: 100px;
            font-size: 150px;
        }
        .feedback__text-card{
            width: 280px;
            font-size: 18px;
        }
        .feedback__name-client{
            font-size: 20px;
        }
    }
    footer{
        .footer__rectangle1{display: none;}
        .footer__rectangle2{display: none;}
        .news{
            .news__title{
                font-size: 28px;
            }
            .news__text{
                font-size: 15px;
            }
            .news__button{
                margin-left: auto;
                margin-right: auto;
                width: 300px;
                padding-left: 10px;
            }
            .news__input{
                width: 200px;
                font-size: 16px;
                padding-left: 5px;
            }
            .news__subscribe{
                padding: 0 5px 0 5px;
            }
        }
        .footer{
            width: auto;
            .footer__container{
                width: 180px;
                padding-top: 50px;
                margin: 0 auto;
            }
            .footer__menu{
                display: block;
            }
            .footer__block2{
                display: none;
            }
            .footer__block3{
                display: none;
            }
            .footer__block4{
                padding-top: 50px;
            }
            .media{
                padding-top: 30px;
                display: flex;
                width: 200px;
                padding-bottom: 20px;
            }
        }
    }
    #slider{
        width: 300px;
    }
}