@charset "UTF-8";
/* обнуленеи отступов  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.button__parametr {
  width: 134px;
  height: 48px;
  background-color: #F9C06A;
  border-radius: 24px;
  color: #1E1E1E;
  font-family: Clicker Script;
}

.button__fs {
  font-size: 18px;
}

.main__ff {
  font-family: Playfair Display;
}

.button__hover:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body {
  background-color: #fff;
}

header {
  background-image: url(./img/header_img/header__bgi.jpg);
  height: 768px;
  -webkit-box-shadow: inset 0px 0px 80px 40px rgb(0, 0, 0);
          box-shadow: inset 0px 0px 80px 40px rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 90px;
}
.menu .menu__logo {
  font-size: 35px;
  width: 135px;
  height: 46px;
  font-family: Clicker Script;
  color: aliceblue;
}
.menu .menu__item {
  width: 600px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: aliceblue;
  list-style-type: none;
}
.menu .menu__li {
  color: aliceblue;
}

.regist {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: aliceblue;
}
.zagolovok {
  position: relative;
  top: 10%;
  left: 10%;
  width: 550px;
  height: 500px;
  color: aliceblue;
  font-family: Playfair Display;
}
.zagolovok__block1 {
  width: 449px;
  height: 29px;
  font-size: 16px;
}
.zagolovok__block2 {
  width: 449px;
  height: 291px;
  font-size: 220px;
  font-family: Clicker Script;
}
.zagolovok__block3 {
  font-size: 16px;
}
.zagolovok__button {
  margin-top: 20px;
}

.info {
  position: relative;
  background-image: url(./img/header_img/cofe__info__bgi.jpg);
  background-repeat: no-repeat;
  background-position: right 10% top;
  height: 500px;
  font-family: Playfair Display;
}
.info .info__container {
  margin-left: 10%;
  margin-top: 10%;
}
.info .info__title {
  color: #603809;
  font-size: 40px;
  font-weight: bold;
}
.info .info__text {
  width: 600px;
  font-size: 20px;
  color: #707070;
}
.info .info__button {
  margin-top: 20px;
}
.info .info__img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.coffe {
  position: relative;
}
.coffe__title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #603809;
}
.coffe__text {
  text-align: center;
  font-size: 20px;
  color: #707070;
}
.coffe__grid {
  position: relative;
  margin: 0 auto;
  width: 1350px;
  height: 600px;
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.coffe__card {
  position: relative;
  border: solid 1px #F9C06A;
  background-color: #FFF9F1;
  width: 280px;
  height: 364px;
}
.coffe__info {
  font-family: Playfair Display;
  text-align: center;
}
.coffe__name {
  margin-top: 10px;
  font-size: 22px;
  color: #603809;
  font-weight: bold;
}
.coffe__structure {
  margin-top: 10px;
  font-size: 16px;
  color: #1E1E1E;
}
.coffe__price {
  margin-top: 10px;
  font-size: 18px;
  color: #603809;
  font-weight: bold;
}
.coffe__button {
  margin-left: 25%;
  margin-top: 15px;
}
.coffe__img2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.advantages {
  height: 630px;
}
.advantages .advantages__title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #603809;
}
.advantages .advantages__text {
  text-align: center;
  font-size: 20px;
  color: #707070;
}
.advantages__flex {
  margin: 40px auto 0 auto;
  width: 1350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Playfair Display;
}
.advantages__card {
  background-color: #FFF9F1;
  border: solid 1px #F9C06A;
  text-align: center;
  width: 280px;
  height: 284px;
}
.advantages__img {
  padding-top: 40px;
  margin-bottom: 30px;
}
.advantages__name {
  color: #603809;
  font-size: 24px;
  font-weight: bold;
}
.advantages__text-card {
  font-size: 20px;
  color: #707070;
}
.advantages__card:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #FFEED8;
}
.advantages__parametr {
  margin-top: 40px;
}
.advantages__button {
  background-color: #F9C06A;
  border-radius: 24px;
  margin-top: 30px;
  margin-left: 45%;
}

.info2 {
  position: relative;
  width: auto;
  height: 574px;
  background-image: url(./img/header_img/info2__bgi.png);
  background-color: #603809;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.info2__container {
  width: 600px;
  height: 304px;
  font-family: Playfair Display;
  margin-left: 15%;
  padding-top: 10%;
}
.info2__title {
  color: #FFF;
  font-size: 48px;
}
.info2__text {
  padding-top: 20px;
  font-size: 20px;
  color: #FFF;
}
.info2__button {
  margin-top: 20px;
}
.info2__img-rectangl {
  position: absolute;
  right: 0;
  top: 0;
}
.info2__img {
  position: absolute;
  right: 80px;
  top: 80px;
}

.feedback {
  position: relative;
  height: 790px;
}
.feedback__title {
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #603809;
}
.feedback__text {
  text-align: center;
  font-size: 20px;
  color: #707070;
}
.feedback__container {
  position: relative;
  background-color: #FFF9F1;
  margin: 50px auto;
  width: 1000px;
  height: 525px;
}
.feedback__card {
  border: solid #F9C06A;
  background-color: #FFF9F1;
  margin: 0 auto;
  width: 1000px;
  height: 500px;
}
.feedback__icon {
  margin-left: 30px;
  height: 150px;
  font-size: 220px;
  color: #603809;
}
.feedback__text-card {
  margin: 0 auto;
  width: 780px;
  font-family: Playfair Display;
  text-align: center;
  font-size: 24px;
}
.feedback__client {
  text-align: center;
  width: 300px;
  margin: 6% auto 0 auto;
}
.feedback__name-client {
  width: 300px;
  text-align: center;
  font-size: 32px;
  color: #603809;
  padding-top: 10px;
}
.feedback__img-client {
  border-radius: 16px;
  width: 112px;
  height: 90px;
  background-size: cover;
}
.feedback__rectangl1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.feedback__rectangl2 {
  position: absolute;
  right: 0;
  top: 0;
}

.mySwiper {
  margin-top: 50px;
}

.news {
  height: 374px;
  background-image: url(./img/news__img/news__bgi.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #603809;
  background-blend-mode: overlay;
  font-family: Playfair Display;
}
.news__title {
  padding-top: 50px;
  font-size: 48px;
  color: #FFF;
  text-align: center;
  font-weight: bold;
}
.news__text {
  padding-top: 20px;
  font-size: 20px;
  color: #FFF;
  text-align: center;
  font-weight: bold;
}
.news__button {
  border-radius: 15px;
  margin: 50px auto 0 auto;
  width: 612px;
  height: 66px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFEED8;
}
.news__input {
  width: 475px;
  font-size: 20px;
}
.news__input::-webkit-input-placeholder {
  outline: none;
}
.news__input::-moz-placeholder {
  outline: none;
}
.news__input:-ms-input-placeholder {
  outline: none;
}
.news__input::-ms-input-placeholder {
  outline: none;
}
.news__input::placeholder {
  outline: none;
}
.news__subscribe {
  width: 137px;
  background-color: #F9C06A;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* footer */
footer{
  position: relative;
}
.footer {
  height: 492px;
  background-image: url(./img/footer__img/fotter_bgi.png);
  -webkit-box-shadow: inset 0px 0px 90px 20px rgb(0, 0, 0);
          box-shadow: inset 0px 0px 90px 20px rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #603809;
  background-blend-mode: overlay;
}
.footer__container {
  padding-top: 200px;
}
.footer__menu {
  display: flex;
  justify-content: space-around;
}
.footer__block1 {
  display: block;
}
.footer__block1__logo {
  font-size: 40px;
  width: 135px;
  height: 46px;
  font-family: Clicker Script;
  color: aliceblue;
}
.media {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
.media__svg {
  width: 30px;
  height: 30px;
  fill: #FFF;
}
.media__svg:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}

.footer__block2 {
}
.footer__title {
  margin-bottom: 30px;
  color: #FFF;
  font-size: 26px;
  font-weight: bold;
}
.footer__text {
  font-family: Playfair Display;
  color: #FFF;
  padding-bottom: 10px;
  font-size: 18px;
  list-style: none;
}
.footer__rectangle1 {
  position: absolute;
  top: 20%;
  left: 0;
}
.footer__rectangle2 {
  position: absolute;
  top: 20%;
  right: 0;
}

